<alert *ngFor="let alert of alerts" [type]="alert.type" [dismissOnTimeout]="5000" (close)="closeAlert(alert)">{{ alert.message }}</alert>

<form class="form-horizontal" [formGroup]="form" (ngSubmit)="persist()">
  <div *ngFor="let attr of attributes">
    <div class="form-group" *ngIf="includeAttribute(attr)" [class.has-error]="form.get(attr.key).dirty && !form.get(attr.key).valid">
      <label for="{{attr.key}}" class="col-md-3 control-label">{{attr.label}}</label>
      <div class="col-md-9">
        <ng-container [ngSwitch]="attr.fieldType">

          <ng-container *ngSwitchCase="'icon'">
            <input id="{{attr.key}}" type="hidden" class="form-control" formControlName="{{attr.key}}" />
            <div class="icons">
              <span class="glyphicon glyphicon-{{ icon }}" *ngFor="let icon of attr.values" [class.selected]="form.get(attr.key).value == icon" (click)="form.get(attr.key).setValue(icon)"></span>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'color'">
            <input id="{{attr.key}}" type="hidden" class="form-control" formControlName="{{attr.key}}" />
            <div class="colors">
              <span *ngFor="let color of attr.values" [style.background]="color" [class.selected]="form.get(attr.key).value == color" (click)="form.get(attr.key).setValue(color)"></span>
            </div>
          </ng-container>

          <div *ngSwitchCase="'amount'" class="input-group">
            <input id="{{attr.key}}" type="text" class="form-control" formControlName="{{attr.key}}" />
            <div class="input-group-addon">€</div>
          </div>

          <textarea *ngSwitchCase="'textarea'" id="{{attr.key}}" rows="5" class="form-control" formControlName="{{attr.key}}"></textarea>

          <input *ngSwitchDefault id="{{attr.key}}" type="{{attr.fieldType}}" class="form-control" formControlName="{{attr.key}}" />

          <span class="help-block" *ngIf="form.get(attr.key).dirty && form.get(attr.key).hasError('required')">Ce champ est obligatoire</span>
          <span class="help-block" *ngIf="form.get(attr.key).dirty && form.get(attr.key).hasError('maxlength')">Le contenu de ce champ est trop long</span>
          <span class="help-block" *ngIf="form.get(attr.key).dirty && form.get(attr.key).hasError('pattern')">Le contenu de ce champ est incorrect</span>

        </ng-container>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ isNew() ? 'Créer' : 'Modifier' }}</button>
    </div>
  </div>
</form>

