.app-colors {

}

.app-color {
  float: left;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: solid 1px #cccccc;
  opacity: 0.5;
}

.app-color.selected,
.app-color:hover {
  opacity: 1;
  border: solid 1px #aaaaaa;
}

.app-icons {

}

.app-icon {
  float: left;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 30px;
  padding: 5px;
  border: solid 1px white;
}

.app-icon.selected,
.app-icon:hover {
  background: #eeeeee;
  border: solid 1px #dddddd;
}