<h1>{{ title }}</h1>
<form class="form-horizontal" [formGroup]="operationForm" (ngSubmit)="saveOperation()">
  <div class="form-group" [class.has-error]="accountControl.dirty && !accountControl.valid">
    <label for="account" class="col-md-2 control-label">Compte bancaire</label>
    <div class="col-md-10">
      <select id="account" class="form-control" formControlName="account">
        <option [ngValue]="null">Sélectionner un compte bancaire</option>
        <option *ngFor="#account of accounts" [ngValue]="account.id">{{account.name}}</option>
      </select>
      <app-form-error control="account" error="required">Le compte bancaire est obligatoire</app-form-error>
    </div>
  </div>
  <div class="form-group" [class.has-error]="dateControl.dirty && !dateControl.valid">
    <label for="date" class="col-md-2 control-label">Date</label>
    <div class="col-md-10">
      <input id="date" type="date" class="form-control" formControlName="date" />
      <app-form-error control="date" error="required">La date est obligatoire</app-form-error>
      <app-form-error control="date" error="pattern">La date est incorrecte</app-form-error>
    </div>
  </div>
  <div class="form-group" [class.has-error]="nameControl.dirty && !nameControl.valid">
    <label for="name" class="col-md-2 control-label">Nom</label>
    <div class="col-md-10">
      <input id="name" type="text" class="form-control" formControlName="name" />
      <app-form-error control="name" error="required">Le nom est obligatoire</app-form-error>
      <app-form-error control="name" error="maxlength">Le nom est trop long</app-form-error>
    </div>
  </div>
  <div class="form-group" [class.has-error]="descriptionControl.dirty && !descriptionControl.valid">
    <label for="description" class="col-md-2 control-label">Description</label>
    <div class="col-md-10">
      <textarea id="description" rows="5" class="form-control" formControlName="description"></textarea>
      <app-form-error control="description" error="maxlength">La description est trop longue</app-form-error>
    </div>
  </div>
  <div class="form-group" [class.has-error]="amountControl.dirty && !amountControl.valid">
    <label for="amount" class="col-md-2 control-label">Montant</label>
    <div class="col-md-10">
      <div class="input-group">
        <input id="amount" type="text" class="form-control" formControlName="amount" />
        <div class="input-group-addon">€</div>
      </div>
      <app-form-error control="amount" error="required">Le montant est obligatoire</app-form-error>
      <app-form-error control="amount" error="pattern">Le montant est incorrect</app-form-error>
    </div>
  </div>
  <div class="form-group" [class.has-error]="tagControl.dirty && !tagControl.valid">
    <label for="tag" class="col-md-2 control-label">Catégorie</label>
    <div class="col-md-10">
      <select id="tag" class="form-control" formControlName="tag">
        <option [ngValue]="null">Sélectionner une catégorie</option>
        <option *ngFor="#tag of tags" [ngValue]="tag.id">{{tag.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <button type="submit" class="btn btn-default" [disabled]="!operationForm.valid">{{ buttonLabel }}</button>
    </div>
  </div>
</form>
