<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" (click)="isNavCollapsed = !isNavCollapsed; isPanelCollapsed = true" class="navbar-toggle collapsed" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" (click)="isNavCollapsed = true" class="navbar-brand">
        <img src="assets/logo-2.png" alt="" />
      </a>
    </div>
    <div id="main-menu" class="navbar-collapse" [collapse]="isNavCollapsed">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/operations" (click)="isNavCollapsed = true">Opérations</a>
        </li>
        <li>
          <a routerLink="/statistics" (click)="isNavCollapsed = true">Statistiques</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="visible-xs"><a href="javascript:void(0)" (click)="isNavCollapsed = true; isPanelCollapsed = false"><span class="glyphicon glyphicon-filter"></span> Filtrer opérations</a>
        <li><a href="javascript:void(0)" (click)="isNavCollapsed = true; openOperationForm()"><span class="glyphicon glyphicon-plus"></span> Créer opération</a>
        <li><a href="javascript:void(0)" (click)="isNavCollapsed = true; importModal.show()"><span class="glyphicon glyphicon-import"></span> Importer opérations</a>
        <li><a class="logout" href="javascript:void(0)" (click)="logout()" title="Déconnexion"><span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="panel panel-default" [class.panel-collapse]="isPanelCollapsed">
  <div class="panel-heading clearfix">
    <div class="panel-title">Comptes bancaires</div>
    <div dropdown>
      <a href="javascript:void(0)" dropdownToggle><span class="glyphicon glyphicon-option-vertical"></span></a>
      <ul class="dropdown-menu dropdown-menu-right" dropdownMenu>
        <li><a href="javascript:void(0)" (click)="accountModal.show()"><span class="glyphicon glyphicon-plus"></span> Créer compte</a></li>
      </ul>
    </div>
  </div>
  <ul class="list-group" app-account-list [accounts]="accounts" (alertEventEmitter)="displayAlert($event)"></ul>
  <div class="panel-heading clearfix">
    <div class="panel-title pull-left">Catégories</div>
    <div dropdown>
      <a href="javascript:void(0)" dropdownToggle><span class="glyphicon glyphicon-option-vertical"></span></a>
      <ul class="dropdown-menu dropdown-menu-right" dropdownMenu>
        <li><a href="javascript:void(0)" (click)="tagModal.show()"><span class="glyphicon glyphicon-plus"></span> Créer catégorie</a></li>
      </ul>
    </div>
  </div>
  <ul class="list-group" app-tag-list [tags]="tags" (alertEventEmitter)="displayAlert($event)"></ul>
</div>
<div class="panel-close" (click)="isPanelCollapsed = true" [collapse]="isPanelCollapsed"></div>

<div bsModal #accountModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="accountModal.hide()">
          <span>&times;</span>
        </button>
        <h4 class="modal-title">Création compte bancaire</h4>
      </div>
      <div class="modal-body">
        <app-form [type]="accountType" [service]="accountService" (success)="accountModal.hide()"></app-form>
      </div>
    </div>
  </div>
</div>

<div bsModal #tagModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="tagModal.hide()">
          <span>&times;</span>
        </button>
        <h4 class="modal-title">Création catégorie</h4>
      </div>
      <div class="modal-body">
        <app-form [type]="tagType" [service]="tagService" (success)="tagModal.hide()"></app-form>
      </div>
    </div>
  </div>
</div>

<div bsModal #operationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="operationModal.hide()">
          <span>&times;</span>
        </button>
        <h4 class="modal-title">Création catégorie</h4>
      </div>
      <div class="modal-body">
        <app-form [type]="operationType" [model]="operation" [service]="operationService" [models]="models" (success)="operationModal.hide()"></app-form>
      </div>
    </div>
  </div>
</div>

<div bsModal #importModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="importModal.hide()">
          <span>&times;</span>
        </button>
        <h4 class="modal-title">Import d'opérations</h4>
      </div>
      <div class="modal-body">
        <app-import-form (success)="importModal.hide()"></app-import-form>
      </div>
    </div>
  </div>
</div>

<main class="content">
  <p *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="5000" (close)="closeAlert(alert)">{{ alert.message }}</alert>
  </p>
  <router-outlet></router-outlet>
</main>