<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse">
    <div class="nav navbar-nav">
      <div class="btn-group navbar-btn" role="group">
        <a routerLink="/operation-form" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Créer opération</a>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-import"></span> Importer opérations</button>
      </div>
    </div>
    <div class="navbar-form navbar-right">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" (keyup.enter)="search()" [(ngModel)]="searchValue">
          <div class="input-group-btn">
              <button class="btn btn-default" (click)="search()"><i class="glyphicon glyphicon-search"></i></button>
          </div>
      </div>
    </div>
    <div class="nav navbar-nav navbar-right">
      <p class="navbar-text">{{ total }} opérations</p>
      <p class="navbar-text">200 €</p>
      <div class="btn-group navbar-btn" role="group">
        <div class="btn-group" role="group" dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            {{ year ? year : getYearRangeLabel() }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" dropdownMenu>
            <li><a href="javascript:void(0)" (click)="changeYear(null)">{{ getYearRangeLabel() }}</a></li>
            <li *ngFor="#yearItem of yearItems | keys"><a href="javascript:void(0)" (click)="changeYear(yearItem.key)">{{ yearItem.key }}</a></li>
          </ul>
        </div>
        <div *ngIf="year" class="btn-group" role="group" dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            {{ month ? ( month | monthName ) : 'Janvier - Décembre' }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" dropdownMenu>
            <li><a href="javascript:void(0)" (click)="changeMonth(null)">Janvier - Décembre</a></li>
            <li *ngFor="#monthItem of monthItems"><a href="javascript:void(0)" (click)="changeMonth(monthItem)">{{ monthItem | monthName }}</a></li>
          </ul>
        </div>
      </div>
      <div class="btn-group navbar-btn" role="group">
        <button type="button" class="btn btn-default" [disabled]="!previousPage" (click)="changePage(previousPage)"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button type="button" class="btn btn-default" [disabled]="!nextPage" (click)="changePage(nextPage)"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
  </div>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Opération</th>
      <th>Montant</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let operation of operations">
      <td>{{ operation.date }}</td>
      <td>{{ operation.name }}</td> 
      <td>{{ operation.amount }}</td>
      <td>
        <span dropdown>
          <a href="javascript:void(0)" dropdownToggle><span class="glyphicon glyphicon-option-vertical"></span></a>
          <ul class="dropdown-menu dropdown-menu-right" dropdownMenu>
            <li><a routerLink="/operation-form/{{ operation.id }}"><span class="glyphicon glyphicon-pencil"></span> Modifier opération</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0)" (click)="deleteOperation(operation)"><span class="glyphicon glyphicon-trash"></span> Supprimer opération</a></li>
          </ul>
        </span>
      </td>
    </tr>
  </tbody>
</table>