<form class="form-horizontal" [formGroup]="accountForm" (ngSubmit)="saveAccount()">
  <div class="form-group" [class.has-error]="nameControl.dirty && !nameControl.valid">
    <label for="name" class="col-md-2 control-label">Nom</label>
    <div class="col-md-10">
      <input id="name" type="text" class="form-control" formControlName="name" />
      <app-form-error control="name" error="required">Le nom du compte est obligatoire</app-form-error>
      <app-form-error control="name" error="maxlength">Le nom du compte est trop long</app-form-error>
    </div>
  </div>
  <div class="form-group" [class.has-error]="numberControl.dirty && !numberControl.valid">
    <label for="number" class="col-md-2 control-label">Numéro de compte</label>
    <div class="col-md-10">
      <input id="number" type="text" class="form-control" formControlName="number" />
      <app-form-error control="number" error="required">Le numéro de compte est obligatoire</app-form-error>
      <app-form-error control="number" error="maxlength">Le numéro de compte est trop long</app-form-error>
    </div>
  </div>
  <div *ngIf="isNew()" class="form-group" [class.has-error]="balanceControl.dirty && !balanceControl.valid">
    <label for="balance" class="col-md-2 control-label">Solde initial</label>
    <div class="col-md-10">
      <div class="input-group">
        <input id="balance" type="text" class="form-control" formControlName="balance" />
        <div class="input-group-addon">€</div>
      </div>
      <app-form-error control="balance" error="required">Le solde initial du compte est obligatoire</app-form-error>
      <app-form-error control="balance" error="pattern">Le solde doit être un montant</app-form-error>
    </div>
  </div>
  <div class="form-group" [class.has-error]="descriptionControl.dirty && !descriptionControl.valid">
    <label for="description" class="col-md-2 control-label">Description</label>
    <div class="col-md-10">
      <textarea id="description" rows="5" class="form-control" formControlName="description"></textarea>
      <app-form-error control="description" error="maxlength">La description est trop longue</app-form-error>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <button type="submit" class="btn btn-primary" [disabled]="!accountForm.valid">{{ buttonLabel }}</button>
    </div>
  </div>
</form>